*{
    box-sizing: border-box;
    
}
 body{
     background-color: whitesmoke;
 }
/* need to find hex color for background and text color*/
 #header { 
     position: absolute;
     height: 500px;
     width: 850px; /*requirements are 850px, but is very slim, confrim before submission- using 80% as per the demo*/
     margin-left:  225px;
    background-color: #4267b2;
    z-index: -1;
  
 }
   
 #profile_pic{
     position: absolute;
     height: 200px;
     width:  200px;
     top:285px;
     left:15px;
     z-index: 120;
     border: black solid 1px;
     background-color: #4267b2;
 }
 
 
 
 
 
 
 
 
 h1{
        position: absolute;
       font-family: Arial, Helvetica, sans-serif;
       color: whitesmoke;
       font-size: 32px;
       width: 300px;
       top:320px;
       left:225px;

       
   }
    
   h2{
        position: absolute;
        font-family: Arial, Helvetica, sans-serif;
        color: whitesmoke;
        font-size: 24px;
        font-weight: lighter;
        width: 300px;
         top:375px;
         left:225px;
   
       
}





     

#navBar{
      position: absolute;
      top: 450px;
      left:-2px;
      height: 55px;
      width: 850px;
      padding: 11px;
      background-color: white;
      border: white solid 3px;
      margin: 0 auto;
      z-index: -1;
     
      
}

ul{
    position: absolute;
    left: 210px;
    height:20px ;
    width: 550px;
    margin: 0 auto;
    padding: 0%;
    
}
li  {
    display: inline;
    position: relative;
    list-style-type: none;
    height:35px;
    width:60px;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    
    
    
    
}
#time{
    list-style-type: none;
    padding: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bolder;
    border-bottom: #4267b2 solid 3px;

}
a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color:#414042
}


.button_bar {
   
   position: absolute;
    top: 415px;
    left:800px;
    width: 300px;
    display: inline-block;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 14px;
   
   
    
}


.button {
   background-color: white;
    text-decoration: none;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color:#414042
    font-size: 14px;
    float:left;
    
}

.like_button{
    text-decoration: none;
    color:#414042
    padding: 2px 5px 5px 5px;
    width: 70px ;
    height: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 14px;
    float: left;
    margin-right: 10px;

}

.follow_button{
    text-decoration: none;
    color:#414042
    width: 110px ;
    height: 30px;
    padding: 2px 7px 9px 5px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 14px;
    float: left;
    margin:0;

}
.message_button{
    width: 75px ;
    height: 30px;
    text-decoration: none;
    color:#414042
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    
    font-size: 14px;
    float: left;
    margin:0;

}

.dot_button{
    position: absolute;
    width: 50px ;
    height: 30px;
    text-decoration: none;
    color:#414042
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: black;
    font-size: 18px;
    float: right;
    margin:0;
}

img{
    margin-right: 3px;
}
/*#msg {
    position: absolute;
   
    margin-right: 15px;
 
  background-color: chartreuse;
}*/


.column{
    position: absolute;
    height: 800px;
    width: 850px;
    top:520px;
    left: 232px;
    
    

}

.block1{
    height: 700px;
    width: 328px;
    top:620px;
    left: 332px;
    
   float:left;
    
}

.block2{
    height: 700px;
    width: 512px;
    top:620px;
    left: 332px;
   
    float: right;
   
    }
    .content_box1{
        position: absolute;
        width: 328px;
        height: 167px;
        padding:0;
        border:gray solid 1px; 
        background-color: white;
    }
        
       
        

    
    .about_page_name{
        position: absolute;
        width: 325px;
        height: 95px;
        top:33px;
        padding: 3px;
        border-top:gray solid 1px; 
        border-bottom: gray solid 1px;
        background-color: white;
        
    }
 .about_page_name h2{
     position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    color:#414042 ;
    font-size: 20px;
    top:-15px ;
    left: 12px;
    
}
p{
    position: absolute;
    width: 300px;
    top:12px;
    margin-left:10px;
    font-family: Arial, Helvetica, sans-serif;
    color:royalblue;
    font-size: 14px;
}

.h2_bottom{
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    color:royalblue;
    font-size: 14px;
    font-weight: bolder;
    top:127px ;
    left: 20px;
}

.content_box2{
    position: absolute;
        width: 328px;
        height: 167px;
        top: 180px;
        padding:0;
        border:gray solid 1px; 
        

}

.about{

    position: absolute;
    top: 0px;
    left:8px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 14px;
    z-index: 1;

}

.your_address{
    position: absolute;
        width: 325px;
        height: 95px;
        top:33px;
        padding: 3px;
        border-top:gray solid 1px; 
        border-bottom: gray solid 1px;
        background-color: white;

}

.your_address p {
    position: absolute;
    top: 25px;
    left:11px;
    font-family: Arial, Helvetica, sans-serif;
    color: #414042;
    font-size: 14px;
    padding:10px;
    
}

.your_address h4{
    position: absolute;
    top: 5px;
    left:18px;
    font-family: Arial, Helvetica, sans-serif;
    color: #414042;
    font-size: 14px;
    padding:10px;
   
    z-index: 2;
}
.phone_number{
    position: absolute;
    top: 75px;
    left:18px;
    font-family: Arial, Helvetica, sans-serif;
    color: #414042;
    font-size: 14px;
    padding:10px;
 
}
.content_box3{
    position: absolute;
    width: 512px;
    height:290px;
    top: 0;
    padding:0;
   background-color: #4267b2;
   border: gray solid 1px;
}


.box3_profile_pic{
    position: absolute;
    width: 47px;
    height: 47px;
    top: 10px;
    left: 10px;
    background-color:#4267b2 ;
    border: black solid 1px;
}


    .para_box3{
    position: absolute;
    left: 1px;

    width: 509px;
    height: 65px;
    padding: 1px;
    background-color: white;

}



:root{ --upper_text: /*make a variable for next one*/
   
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color:royalblue;

}

.your_page_name{ 
    position: absolute;
    top: 0px;
    left: 70px;
     var( --para_text)

}
 #one { 
     position:absolute;
     top: 4px;
     left: 170px;
     font-family: Arial, Helvetica, sans-serif;
     color:#414042;
     font-size:14px;
}

#two{
    position: absolute;
     top: 20px;
     left: 60px;
     font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #414042;
     
     
}


    

.footer_list{
    position:relative;
    top: 240px;
    left: 0;
    width: 510px;
    height:  45px;
    padding: 10px;
    background-color: white;

}

.foot_list{
    position: absolute;
    top: 10px;
    left: 10px;
    var( --upper_text)
    
}

.content_box4{
    position: absolute;
    border: gray solid 1px;
    width: 512px;
    height:187px;
    top:287px;
    var( --upper_text)
    
    
}

.para_box4{
    position: absolute;
    left: 1px;
    width: 509px;
    height: 65px;
    padding: 1px;
    background-color: white;

}
.content_box4_para{
    position: absolute;
    width: 512px;
    height:100px;
    top:70px;
    left: -1px;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    color:#414042;
    font-size: 14px;
   }
.footer_list4{

    position:relative;
    top: 140px;
    left: 0;
    width: 510px;
    height:  45px;
    padding: 10px;
    background-color: white;

}